{{#if tutorDetails}}
<div class="wrapper sidebar-collapse">
   <div class="sidebar scrollmenu">
      <div class="sidebar-menu">
         <center class="profile">
           <img src="{{#if tutorDetails.picture}}/images/tutor_profile/{{tutorDetails._id}}.jpg{{else}}/images/tutor_profile_{{tutorDetails.gender}}_def.jpg{{/if}}" alt="{{tutorDetails.fname}} {{tutorDetails.lname}}">
            <p>
               <span class="name">{{tutorDetails.fname}} {{tutorDetails.lname}}</span><br>
               <span class="email" >{{tutorDetails.email}}</span><br>
            </p>
         </center>
         <ul>
            <li class="item">
               <a href="/tutor" class="menu-btn">
               <i class="far fa-home"></i><span>Home</span>
               </a>
            </li>
            <li class="item">
               <a href="/tutor/announcement" class="menu-btn">
               <i class="far fa-megaphone"></i><span>Announcement</span>
               </a>
            </li>
             <li class="item" id="settings">
               <a href="#settings" class="menu-btn">
               <i class="far fa-cog"></i><span>Settings  <i class="fas fa-chevron-down drop-down"></i></span>
               </a>
               <div class="sub-menu">
                  <a href="/tutor/profile"><i class="far fa-user-circle"></i> <span>Profile</span></a>
                  <a href="/tutor/logout"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
               </div>
            </li>
            <li class="item">
               <a href="/about" class="menu-btn">
               <i class="far fa-info-circle"></i><span>About</span>
               </a>
            </li>
         </ul>
      </div>
   </div>
</div>
{{/if}}