<section>
   <div class="container">
      <div class="row">
         <div class="col-md-7">
            <form action="/institution/add-tutor-remarks" method="POST" id="">
               <h3 class="mb-2 text-center" style="padding-top: 18px;">Add Remark to {{tutorDetail.fname}}
                  {{tutorDetail.lname}}</h3>
               {{#if status}}
               <div class="alert alert-success" role="alert">
                  <span class="font-weight-bold">Success!</span> new remark is added about {{tutorDetail.fname}}.
               </div>
               {{/if}}
               <a href="/institution/view-tutor-remarks/{{tutorDetail._id}}" class="btn btn ml-auto mr-0 mb-3"
                  style="background-color: #212529; color: #fff;">View Remarks</a>
               <div class="form-group">
                  <input type="text" name="tutorId" id="" value="{{tutorDetail._id}}" hidden>
                  <input type="text" name="remarkedPerson" id="" value="{{head_of_Institution}}" hidden>
                  <label for="address">Add Remark</label>
                  <textarea rows="3" type="text" class="form-control" id="remark" name="remark" required></textarea>
               </div>
               <div class="form-group">
                  <label for="visible">Type of remarks</label>

                  <select class="custom-select" name="Type of remark" required>
                     <option selected value="">Choose option</option>
                     <option value="Normal">Normal remark about {{tutorDetail.fname}}</option>
                     <option value="Good">Good remark about {{tutorDetail.fname}}</option>
                     <option value="Bad">Bad remark about {{tutorDetail.fname}}</option>
                  </select>
               </div>
               <button class="btn btn-dark float-right" type="submit">Submit</button>
            </form>
         </div>
         <div class="hide-small col-md-5 my-auto">
            <div class="row z-depth-3">
               <div class="col-sm-4 rounded-left" style="background-color: #000;">
                  <div class="card-block text-center text-white">
                     <i class="fas fa-user-tie fa-7x mt-5"></i>
                     <h2 class="small-device-name font-weight-bold mt-4">{{tutorDetail.fname}} {{tutorDetail.lname}}
                     </h2>
                     <!--<h2 class="large-device-name font-weight-bold mt-4">{{tutorDetail.fname}}</h2>-->
                     <p class="small-device-name">Student</p>
                     <div class="subjects">
                        <hr class="bg-primary">
                        <h5 id="student-fullName2">{{tutorDetail.fname}}</h5>
                     </div>


                  </div>
               </div>
               <div class="col-sm-8 bg-white rounded-right">
                  <h3 class="large-device-name mt-3 text-center" id="student-fullName2">{{tutorDetail.fname}}
                     {{tutorDetail.lname}}</h3>
                  <h3 class="small-device-name mt-3 text-center">Informations</h3>
                  <hr class="bg-primary mt-0 w-25" style="margin-left: 37%;">

                  <div class="row">
                     <div class="col-sm-6">
                        <p class="font-weight-bold">Name:</p>
                        <h6 class=" text-muted" id="student-gender">{{tutorDetail.fname}}</h6>
                     </div>
                     <div class="small-email col-sm-6">
                        <p class="font-weight-bold">Email:</p>
                        <h6 class="text-muted">{{tutorDetail.email}}</h6>
                     </div>

                     <div class="col-sm-6">
                        <p class="font-weight-bold">Mobile:</p>
                        <h6 class="text-muted" id="student-mobile">{{tutorDetail.mobile}}</h6>
                     </div>
                     <div class="col-sm-6">
                        <p class="font-weight-bold">Gender:</p>
                        <h6 class=" text-muted" id="student-gender">{{tutorDetail.gender}}</h6>
                     </div>
                     <div class="col-sm-6">
                        <p class="font-weight-bold">Status:</p>
                        <h6 class=" text-muted" id="student-guardian">{{tutorDetail.status}}</h6>
                     </div>
                     <div class="col-sm-6">
                        <p class="font-weight-bold">Joined Date</p>
                        <h6 class="text-muted">{{tutorDetail.date}}</h6>
                     </div>
                     <div class="large-device-name col-sm-6">
                        <p class="font-weight-bold">Type:</p>
                        <h6 class="text-muted">Tutor</h6>
                     </div>

                     <div class="large-email col-sm-6">
                        <p class="font-weight-bold">Email:</p>
                        <h6 class="text-muted" id="student-email2">{{tutorDetail.email}}</h6>
                     </div>
                  </div>
                  <div class="smallDevice-subjects">
                     <h5 class="mt-3 font-weight-bold">Subjects Enrolled:</h5>

                     <div class="row">
                        <div class="col-sm-6">
                           <h6 class="text-muted">*Java</h6>
                           <h6 class="text-muted">*Phython</h6>
                           <h6 class="text-muted">*Data Structures</h6>

                        </div>
                     </div>
                  </div>






                  <!--
					   <li>  <a href="/student" class="btn btn " style="color:white; background-color: #222424;">Add Remark</a></li>
					   <li><a href="#!"><i class="fab fa-youtube px-3 h4 text-info"></i></a></li>
					   <li><a href="#!"><i class="fab fa-twitter px-3 h4 text-info"></i></a></li>
					   -->
                  </ul>

               </div>

            </div>

         </div>
      </div>

   </div>
</section>





<style>
   .modal-content {
      padding: 20px;
   }

   .share-modal-header,
   .icons,
   .field {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .share-modal-header {
      padding-bottom: 15px;
      border-bottom: 1px solid #ebedf9;
   }

   .share-modal-header span {
      font-size: 21px;
      font-weight: 600;
   }

   .close-btn,
   .icons button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
   }

   .close-btn {
      height: 33px;
      width: 33px;
      color: #878787;
      background: #f2f3fb;
      cursor: pointer;
   }

   .share-modal-body {
      margin: 10px 0;
   }

   .share-modal-body p {
      font-size: 16px;
   }

   .icons {
      margin: 10px 0 15px 0;
   }

   .icons button {
      background: transparent;
      height: 50px;
      width: 50px;
      font-size: 20px;
      border: 1px solid transparent;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
   }

   .icons button:nth-child(1) {
      color: #A9A9A9;
      border-color: #a3c9fa;
   }

   .icons button:nth-child(1):hover {
      background: #A9A9A9;
   }

   .icons button:nth-child(2) {
      color: #696969;
      border-color: #b5e6fb;
   }

   .icons button:nth-child(2):hover {
      background: #696969;
   }

   .icons button:nth-child(3) {
      color: #25d336;
      border-color: #a6efad;
   }

   .icons button:nth-child(3):hover {
      background: #25d336;
   }

   .icons button:nth-child(4) {
      color: #0088cc;
      border-color: #85d6ff;
   }

   .icons button:nth-child(4):hover {
      background: #0088cc;
   }

   .icons button:nth-child(5) {
      color: #0a66c2;
      border-color: #8bc2f9;
   }

   .icons button:nth-child(5):hover {
      background: #0a66c2;
   }

   .icons button:hover {
      color: #fff;
      border-color: transparent;
      outline: none;
   }

   .icons button i {
      transition: transform all 0.3s ease-in-out;
   }

   .icons button:hover i {
      transform: scale(1.2);
   }
</style>




<script>
   function shareProduct(method, to, institutionId, InstitutionName) {
      InstitutionName = InstitutionName.replace(/ /g, "%20")
      if (to === 'student')
         InstitutionLink = "https://onorg.tk/student/signup/" + institutionId
      else
         InstitutionLink = "https://onorg.tk/tutor/signup/" + institutionId
      if (method === 'facebook')
         location.href = "https://facebook.com/sharer/sharer.php?u=" + productLink + "&quote=" + productName + "%20at%20" + productPrice + "%20Only%0ACheck%20it%20now&hashtag=%23ShoppingCart"
      else if (method === 'twitter')
         location.href = "https://twitter.com/intent/tweet?url=" + productLink + "&text=" + productName + "%20at%20" + productPrice + "%20Only%0ACheck%20it%20now%0A"
      else if (method === 'linkedin')
         location.href = "http://linkedin.com/shareArticle?mini=true&url=" + productLink + "&title=" + productName + "%20at%20" + productPrice + "%20Only%0ACheck%20it%20now&summary=Only%20limited%20products%20available&source=" + productLink
      else if (method === 'whatsapp')
         location.href = "https://api.whatsapp.com/send?text=" + InstitutionName + "%20online%20platform%20SignUp%20Link%0Ajoin%20it%20now%0A" + InstitutionLink
      else
         location.href = "https://telegram.me/share/url?url=" + InstitutionLink + "&text=" + InstitutionName + "%20online%20platform%20SignUp%20Link%0Ajoin%20it%20now"
   }


   function student() {
      /* Get the text field */
      var copyText = document.getElementById("InputStudent");

      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /* For mobile devices */

      /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.value);

      /* Alert the copied text */
      alert("Copied the text: " + copyText.value);
   }
   function tutor() {
      /* Get the text field */
      var copyText = document.getElementById("InputTutor");

      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /* For mobile devices */

      /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.value);

      /* Alert the copied text */
      alert("Copied the text: " + copyText.value);
   }
</script>



<!--Share Model Ends-->

<style>
   .main-container {


      /*margin-left: 250px;*/
      padding: 0px 0px 0px 0px;
      background-size: cover;
      margin-left: 0;
      transition: 0.4s;
   }



   .main-container .card {

      color: #000;
      padding: 15px 0px 0px 15px;
      font-size: 14px;
      margin-bottom: 10px;

   }
</style>
<style>
   @media screen and (max-width: 600px) {

      /*Hide in small Devices*/
      .subjects {
         display: none;
      }

      .large-device-name {
         display: none;
      }

      .large-email {
         display: none;
      }
   }

   @media screen and (min-width: 600px) {

      /*Hide in medium Devices*/
      .small-device-name {
         display: none;
      }

      .smallDevice-subjects {
         display: none;
      }

      .close-modal-header {
         display: none;
      }

      .student-info-close {
         display: none;
      }

      .small-email {
         display: none;
      }
   }

   @media screen and (max-width: 600px) {

      /*Hide in small Devices*/
      .hide-small {
         display: none;
      }
   }
</style>