<section>
   <div class="container">
      {{#if status}}
      <div class="alert alert-success" role="alert">
         <span class="font-weight-bold">Success!</span> new class {{name}} added.
      </div>
      {{/if}}
      <div class="row">
         <div class="col-md-4">
            <form action="/institution/add-class" method="POST" id="">
               <h3 class="mb-2 text-center" style="padding-top: 18px;">Add New Class</h3>

               <div class="form-group">
                  <label for="name">Class Name</label>
                  <input type="text" class="form-control" id="name" name="name" required>
               </div>
               <div class="form-group">
                  <label for="address">Class Description</label>
                  <textarea rows="3" type="text" class="form-control" id="description" name="description"></textarea>
               </div>
               <div class="form-group">
                  <label for="visible">Course duration</label>

                  <select class="custom-select" name="duration" required>
                     <option selected value="">Choose option</option>
                     <option value="3 month">3 month</option>
                     <option value="6 month">6 month</option>
                     <option value="1 year">1 year</option>
                     <option value="2 year">2 year</option>
                     <option value="3 year">3 year</option>
                     <option value="4 year">4 year</option>
                     <option value="5 year">5 year</option>
                  </select>
               </div>
               <button class="btn btn-dark float-right" type="submit">Submit</button>
            </form>
         </div>
         {{#if classes}}
         <div class="col-md-4 my-auto">
            <div class="p-3 pb-4 border border-secondary rounded" style="margin-top:4em;">
               <h5>Classes Already Created</h5>
               <hr>
               <!--Here we check there is any class created or not -->
               <div id="list-example" class="list-group">
                  {{#each classes}}
                  <a href="/institution/add-class/?classId={{this._id}}&className={{this.name}}"
                     class="list-group-item list-group-item-action">{{this.name}}</a>
                  {{/each}}

               </div>
            </div>
         </div>
         {{/if}}
         {{#if subjects}}
         <div class="col-md-4 my-auto">
            <div class="p-3 pb-4 border border-secondary rounded" style="margin-top:4em;">
               <h5>Subjects in {{className}}</h5>
               <hr>
               <!--Here we check there is any class created or not -->
               <div id="list-example" class="list-group">
                  {{#each subjects}}
                  <div class="list-group-item list-group-item-action">
                     <h6>{{this.name}}</h6>

                     <div class="row">
                        <small class="w-50" style="padding-left: 15px; padding-top: 0;">created By:
                           {{this.tutor.fname}}</small><br>
                        <small class="w-50" style="padding-left: 15px; padding-top: 0;">Date: {{this.date}}</small>
                     </div>
                  </div>
                  {{/each}}

               </div>
            </div>
         </div>
         {{else}}
         {{#if className}}
         <!--
         <div class="col-md- my-auto">
            <div class="p-3 pb-4 border border-secondary rounded">
               <h5>Subjects in {{className}}</h5>
               <hr>
               <!--Here we check there is any class created or not -->
         <!--
               <div id="list-example" class="list-group">

                  <div class="list-group-item list-group-item-action">
                     <h6>There is no subjects under {{className}}</h6>
                  </div>
               </div>
            </div>
         </div>
         -->

         <div class="col-md-4 my-auto">
            <div class="p-3 pb-4 border border-secondary rounded" style="margin-top:4em;">
               <h5>Subjects in {{className}}</h5>
               <hr>
               <!--Here we check there is any class created or not -->
               <div id="list-example" class="list-group">
                  <div class="list-group-item list-group-item-action">
                     <h6>There is no subjects under {{className}}</h6>
                  </div>

               </div>
            </div>
         </div>
         {{/if}}
         {{/if}}
      </div>
   </div>
</section>