{{#if announcements}}
<section>
    <div class="container">
        <h5 class="mt-4 pb-4 text-center" style="color: #222424;"><b>Announcements</b></h5>
        <a href="/tutor/add-announcement" class="btn btn mb-3" style="background-color: #222424; color: #fff;">Create
            New Announcement</a>
            {{#each announcements}}
            <div class="card">
                <h6>{{this.title}}</h6>
                 <i class="far fa-trash-alt text-muted delete" data-toggle="modal" data-target="#delete-notification"></i>
                <div class="row">
                    <small class="w-50" style="padding-left: 15px; padding-top: 0;">{{this.date}}</small>
                </div>
                  <div class="row">
                    <small style="padding-left: 15px; padding-top: 0;">Visible to :</small> 
                    <small class="w-50" style="padding-top: 0; padding-left: 5px;">{{#each this.visibility}}{{this.name}}, {{/each}}</small>
                    
                </div>
                <hr class="p-0">
                <p>{{this.content}}</p>
            </div>
            <div class="modal fade" id="delete-notification" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-3">Do you want to delete this notification?</div>
                    <a href="/tutor/delete-announcement?id={{this._id}}" class="btn btn-danger float-right ">Delete</a>
            </div>
        </div>
    </div>
</div>
        {{/each}}
    </div>
</section>
{{else}}
<section>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="mt-5">You haven't created any announcement to Student</p>
                    <a href="/tutor/add-announcement" class="btn btn btn-sm" style="background-color:#222424; color: #fff;">Create New Announcement</a>
                </div>
            </div>
        </div>
    </div>
</section>

{{/if}}

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});

$('#delete-notification').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  //var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

  var modal = $(this)
})

</script>

<style>
    .container .card {
        background: #D3D3D3;
        color: #000;
        padding: 15px 0px 0px 15px;
        font-size: 14px;
        margin-bottom: 10px;

    }

    .delete{
        position : absolute;
        top : 1rem;
        right: 1rem;
        cursor: pointer;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15 !important;
        background-color: #000;
    }
</style>