<section>
    <div class="container">
        <div class="card pl-3">
            <div class="class-head">
                <div class="row">
                    <h1>{{subject.name}}</h1><i class="fal fa-edit edit-subject-icon" data-toggle="modal"
                        data-target="#editsubject"></i>
                </div>
            </div>
            <div class="row">
                <i class="far fa-share-alt share-subject" data-toggle="modal" data-target="#shareSubject"></i>

                <div class="row subjectId">
                    <div id="subject-Id">{{subject.subject_id}}</div>&nbsp;<a class="btn btn-"
                        onclick="copySubjectId()"><i class="far fa-copy"></i></a>
                </div>
            </div>
            <div class="row pl-3">
                <h5 class="w-50" style="padding-left: 15px; padding-top: 0;;">{{subject.class.name}}</h5>
            </div>
        </div>
        <a href="" data-toggle="modal" data-target="#postClass" style="text-decoration: none; color : #000">
            <div class="card1 mt-3"><small>Post your class here...</small></div>
        </a>
        {{#if subject.topics}}
        {{#each subject.topics}}
        <div class="posts" data-toggle="modal" data-target="#view-post" onclick="getTopicDetails('{{this._id}}')">
            <i class="far fa-folder folder-icon"></i>
            <div class="posts-body">
                <div class="posts-title" style="font-size: 16px; font-weight: 500;">{{this.name}}</div>
                <div class="posts-date" style="font-size: 12px;">{{this.date}}</div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <center>
            <div class="blank">You haven't posted anything</div>
        </center>
        {{/if}}
    </div>
</section>

<div class="modal fade" id="shareSubject" tabindex="-1" role="dialog" aria-labelledby="shareLinkLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="share-modal-header">
                <span>Share Subject</span>
                <div class="close-btn" data-dismiss="modal"><i class="fal fa-times"></i></div>
            </div>
            <div class="share-modal-body">
                <div class="icons">
                    <input type="text" value="https://onorg.tk/student?class={{subject.subject_id}}" id="subjectLink"
                        hidden>
                    <button onclick="copySubjectLink()"><i class="far fa-copy"></i></button>
                    <button onclick="shareLink('whatsapp','{{subject.subject_id}}', '{{subject.name}}')"><i
                            class="fab fa-whatsapp"></i></button>
                    <button onclick="shareLink('telegram','{{subject.subject_id}}', '{{subject.name}}')"><i
                            class="fab fa-telegram-plane"></i></button>
                    <button onclick="shareLink('linkedin','{{subject.subject_id}}', '{{subject.name}}')"><i
                            class="fab fa-linkedin-in"></i></button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="postClass" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Create your post</h5>
                <div class="close-btn" data-dismiss="modal"><i class="fal fa-times"></i></div>
            </div>
            <div class="modal-body">
                <form class="form" id="uploadForm" action="/tutor/upload-class" method="post">
                    <input type="text" name="subject" value="{{subject._id}}" hidden>
                    <div class="form-group">
                        <input type="text" class="form-control" id="topic-name" name="name" placeholder="Topic"
                            required>
                    </div>
                    <div class="form-group">
                        <textarea rows="6" name="content" placeholder="write something here..." class="form-control"
                            required></textarea>
                    </div>
                    <br>
                    <hr class="p-0" style="background: #5f9ea0">
                    <br>

                        <div class="file-upload">
                            <input class="file-upload__input" type="file"
                                accept="image/*,application/pdf,.xlsx,.pptx,.txt,.pps,.doc,.docx" name="file"
                                id="myFile" multiple>
                            <button class="file-upload__button" type="button">Choose File(s)</button>
                            <span class="file-upload__label"></span>
                        </div>
                        <div id="progress-part"></div>

                        <div class="row" style="padding: 25px 0px 0px 5px;">
                            <a class="btn-btn addLink" onclick="addLink()"><i class="far fa-plus"></i></a>&nbsp;&nbsp;
                            <div class="link">Add YT video Link</div>
                        </div>
                        <div id="new_chq"></div>
                        <div class='error-text'><small style='color : red; visibility: hidden;' id="link-error">*Only
                                valid YouTube video url are accepted.</small></div>
                        <input type="hidden" value="1" id="total_chq">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-dark">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="view-post" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-post-content">
            <div class="modal-header">
                <div class="limit-line-length-vertical"
                    style="font-size: 17px; font-weight: 500; -webkit-line-clamp: 1;" id="posts-title"></div>
                <div class="fal fa-trash-alt remove-topic-icon" id="remove-topic"></div>
                <div class="close-btn" data-dismiss="modal"><i class="fal fa-times"></i></div>
            </div>
            <div class="modal-body">
                <div style="font-size: 15px;" id="posts-content"></div>
                <div class="row mt-2" id="posts-body" style="padding-left: 7.6px; padding-right: 7.6px;"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editsubject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Subject</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/tutor/edit-subject/{{subject._id}}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="class-name" class="col-form-label">Subject Name</label>
                        <input type="text" class="form-control" id="class-name" name="name" value="{{subject.name}}"
                            required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>



<script>
    /* Function for copying subject link*/
    function copySubjectLink() {
        /* Get the text field */
        var copyText = document.getElementById("subjectLink");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText.value);

        /* Alert the copied text */
        alert("Copied the text: " + copyText.value);
    }

    function shareLink(method, subjectId, subjectName) {
        subjectName = subjectName.replace(/ /g, "%20")
        subjectLink = "https://onorg.tk/student?class=" + subjectId

        if (method === 'linkedin')
            location.href = "http://linkedin.com/shareArticle?mini=true&url=" + productLink + "&title=" + productName + "%20at%20" + productPrice + "%20Only%0ACheck%20it%20now&summary=Only%20limited%20products%20available&source=" + productLink
        else if (method === 'whatsapp')
            location.href = "https://api.whatsapp.com/send?text=" + subjectName + "%20online%20platform%20SignUp%20Link%0Ajoin%20it%20now%0A" + subjectLink
        else
            location.href = "https://telegram.me/share/url?url=" + subjectLink + "&text=" + subjectName + "%20online%20platform%20SignUp%20Link%0Ajoin%20it%20now"
    }

    /* Function for copying subject id*/
    function copySubjectId() {

        if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById("subject-Id"));
            range.select().createTextRange();
            document.execCommand("copy");
        }
        else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById("subject-Id"));
            window.getSelection().addRange(range);
            document.execCommand("copy");
        }
    }

    /*Function ends*/

    /* Function to add link on button click */
    function addLink() {
        var new_chq_no = parseInt($('#total_chq').val()) + 1;
        var new_input = "<div class='row' id='input-box' style='padding-top : 10px;'><input type='url' class='form-control' name='link' placeholder='https://youtu.be/videoid' id='new_" + new_chq_no + "'><a class='btn-btn removeLink' onclick='removeLink()'><i class='fas fa-minus' id='remove_" + new_chq_no + "'></i></a></div>";

        $('#new_chq').append(new_input);

        $('#total_chq').val(new_chq_no);
    }

    /*Function ends*/

    /* Function to remove link on button click */
    function removeLink() {
        var last_chq_no = $('#total_chq').val();

        if (last_chq_no > 1) {
            $('#new_' + last_chq_no).remove();
            $('#remove_' + last_chq_no).remove();
            const myobj = document.getElementById("input-box");
            myobj.remove();
            $('#total_chq').val(last_chq_no - 1);
        }
    }

    /* Script for custom upload button that takes multiple files */
    Array.prototype.forEach.call(
        document.querySelectorAll(".file-upload__button"),
        function (button) {
            const hiddenInput = button.parentElement.querySelector(
                ".file-upload__input"
            );
            const label = button.parentElement.querySelector(".file-upload__label");
            const defaultLabelText = "No file(s) selected";

            // Set default text for label
            label.textContent = defaultLabelText;
            label.title = defaultLabelText;

            button.addEventListener("click", function () {
                hiddenInput.click();
            });

            hiddenInput.addEventListener("change", function () {
                const filenameList = Array.prototype.map.call(hiddenInput.files, function (file) {
                    return file.name;
                });

                label.textContent = filenameList.join(", ") || defaultLabelText;
                label.title = label.textContent;
            });
        }
    );

    /*Script to check file size and to give progress bar on front end*/
    const uploadForm = document.getElementById("uploadForm");
    let status = true;
    uploadForm.addEventListener("submit", uploadFile);
    async function uploadFile(e) {
        let totalChq = parseInt($('#total_chq').val())
        let videoUrlStatus = true
        for (let i = 2; i <= totalChq; i++) {
            let videoUrl = document.getElementById("new_" + i).value
            if (videoUrl != undefined || videoUrl != '') {
                let regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=|\?v=)([^#\&\?]*).*/;
                let match = videoUrl.match(regExp);
                if (match && match[2].length == 11) {
                    videoUrlStatus = true
                }
                else {
                    videoUrlStatus = false
                }
            }
        }
        if (videoUrlStatus === true) {
            const file = document.getElementById("myFile").files;
            for (let i = 0; i < file.length; i++) {
                var fileSizeInMB = ((file[i].size / 1024) / 1024).toFixed(4);
                if (fileSizeInMB > 15) {
                    status = false;
                    break;
                }
            }
            if (status === true) {
                if (file.length != 0) {
                    e.preventDefault();
                    let new_element = "<div class='progress' id='progressBar'><div class='progress-bar progress-bar-striped progress-bar-animated bg-success progress-bar-fill' role='progressbar' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100'><span class='progress-bar-text'></span></div></div>"
                    document.getElementById("progress-part").innerHTML = new_element;
                    const progressBarFill = document.querySelector("#progressBar > .progress-bar-fill");
                    const progressBarText = progressBarFill.querySelector(".progress-bar-text");
                    const xhr = new XMLHttpRequest();
                    xhr.open("POST", "/tutor/upload-class");
                    /*Function that updating values in progress bar*/
                    xhr.upload.addEventListener("progress", e => {
                        const percent = e.lengthComputable ? (e.loaded / e.total) * 100 : 0;
                        progressBarFill.style.width = percent.toFixed(2) + "%";
                        progressBarText.textContent = percent.toFixed(2) + "%";
                        if (progressBarFill.textContent === "100.00%") {
                            setTimeout(function () {
                                window.location.reload();    
                            }, 3000);
                        }
                    });
                    xhr.send(new FormData(uploadForm));
                }
            }
            else {
                e.preventDefault();
                let error_message = "<div class='error-text'><small style='color : red'>*Files with size above 15MB is not accepted.</small></div>"
                document.getElementById("progress-part").innerHTML = error_message;
                status = true;
            }
        }
        else {
            e.preventDefault();
            document.getElementById("link-error").style.visibility = 'visible'
            videoUrlStatus = true
        }
    }

    function getTopicDetails(topicId) {
        $.ajax({
            url: '/tutor/view-topic',
            method: 'post',
            data: { id: topicId },
            success: ((topic) => {
                $("#posts-body").empty()
                $("#posts-title").html(topic.name)
                $("#posts-content").html(topic.content)
                $("#remove-topic").attr("onclick", "removeTopic('" + topic._id + "')")
                if (topic.YTvideos) {
                    topic.YTvideos.forEach((video) => {
                        $.ajax({
                            url: 'https://www.youtube.com/oembed?url=http://www.youtube.com/watch?v=' + video + '&format=json',
                            method: 'get',
                            success: ((videoDetails) => {
                                let postsContent = "<div class='col-6 col-md-4 topic-media mb-3' style='padding: 8px; position: relative;'><img src='https://img.youtube.com/vi/" + video + "/mqdefault.jpg' alt=" + videoDetails.title + " width='100%'class='rounded topic-thumb'><a href='https://youtu.be/" + video + "' target='_blank' class='fal fa-play-circle play-btn'></a><div class='limit-line-length-horizontal topic-video-name'>" + videoDetails.title + "</div></div>"
                                $("#posts-body").append(postsContent)
                            })
                        })
                    })
                }
                if (topic.files) {
                    topic.files.forEach((file) => {
                        let postsContent = "<div class='col-6 col-md-4 mb-3 topic-media style='height:100%' style='padding: 8px; position: relative;'><div class='topic-file'><div class='fas fa-file-alt file-icon'></div></div><div class='topic-file-name limit-line-length-horizontal'>" + topic.name + "_" + file + "</div><a href='/tutor_files/uploaded_files/topics/" + topic._id + "/" + file + "' download='" + topic.name + "_" + file + "' class='fal fa-arrow-alt-down play-btn'></a></div>"
                        $("#posts-body").append(postsContent)
                    })
                }
            })
        })
    }

    function removeTopic(topicId) {
        if (confirm("Do You want to remove the Topic?")) {
            $.ajax({
                url: '/tutor/remove-topic',
                method: 'post',
                data: { id: topicId },
                success: ((response) => {
                    location.reload()
                })
            })
        }
    }
</script>



<style>
    .card {
        background: #2a265f;
        color: #fff;
        padding: 15px 0px 0px 15px;
        font-size: 14px;
        margin-bottom: 10px;
        border-radius: 10px;
        height: 250px;
        position: relative;
    }

    .posts {
        position: relative;
        background: #fff;
        height: 90px;
        border-radius: 10px;
        margin-top: 12px;
        padding: 15px;
        cursor: pointer;
        box-shadow: 5px 5px 10px #aaaaaa;
    }

    .posts .folder-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: #2a265f;
        color: #fff;
        font-size: 20px;
        padding: 10px 10px;
        border-radius: 50%;
    }

    .posts .posts-body {
        position: absolute;
        top: 50%;
        left: 63px;
        transform: translateY(-50%);
    }

    @media screen and (max-width : 400px) {
        .card {
            background: #2a265f;
            color: #fff;
            padding: 15px 0px 0px 15px;
            font-size: 14px;
            margin-bottom: 10px;
            border-radius: 10px;
            height: 150px;
            position: relative;
        }

        .card .class-head h1 {
            font-size: 22px;
        }
    }

    .class-head {
        padding-left: 15px;
    }

    .class-head .edit-subject-icon {
        cursor: pointer;
    }

    .class-head .edit-subject-icon:hover {
        font-weight: 900;
    }

    @media screen and (min-width : 401px) {
        .class-head {
            padding-left: 30px;
            padding-top: 35px;
        }
    }

    .share-subject {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 15px;
        font-size: 20px;
        cursor: pointer;
    }

    .share-subject:hover {
        font-weight: 900;
    }

    .subjectId {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 10px;

    }

    .subjectId #subject-Id {

        padding-top: 8px;
    }

    .card1 {
        background-color: #fff;
        padding: 15px 0px 0px 15px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px #aaaaaa;
        height: 54px;
    }

    .card2 {
        position: relative;
    }

    .blank {
        letter-spacing: .00625em;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: #3c4043;
        margin-top: 10%;
    }

    @media screen and (max-width : 400px) {
        .blank {
            letter-spacing: .00625em;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5rem;
            color: #3c4043;
            margin-top: 20%;
        }
    }

    .file-upload {
        display: inline-flex;
        align-items: center;

        border: 12px #000;
    }

    .file-upload__input {
        display: none;
    }

    .file-upload__button {
        -webkit-appearance: none;
        background: #1a1818;
        border: 2px solid #000;
        border-radius: 4px;
        outline: none;
        padding: 0.5em 0.8em;
        margin-right: 15px;
        color: #ffffff;
        cursor: pointer;
    }

    .file-upload__button:active {
        background: #000;
    }

    .file-upload__label {
        max-width: 250px;
        font-size: 0.95em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .progress {
        height: 22px;
        margin-top: 14px;
    }

    .progress-bar-fill {
        height: 100%;
        width: 0%;
        display: flex;
        align-items: center;
        font-weight: bold;
        transition: width 0.25s;
    }

    .progress-bar-text {
        margin-left: 10px;
        font-weight: bold;

    }

    .addLink i {
        border: 2px solid #000;
        color: #000;
        display: block;
        font-size: 18px;
        width: 34px;
        height: 34px;
        line-height: 32px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
    }

    .removeLink i {
        border: 2px solid #fff;
        color: #fff;
        display: block;
        font-size: 19px;
        width: 39px;
        height: 39px;
        line-height: 37px;
        text-align: center;
        border-radius: 21%;
        background: black;
        cursor: pointer;
    }

    .link {
        padding-top: 4px;
    }

    #input-box input {
        width: 26em;
    }

    @media screen and (max-width : 514px) {
        #input-box input {
            width: 19em;
        }
    }

    @media all and (max-width:575px) {
        .topic-file {
            height: 78.3px;
        }
    }

    @media all and (min-width:576px) {
        .modal .modal-post-content {
            width: 34em;
        }

        .topic-media .topic-thumb {
            height: 86.4px;
        }

        .topic-file {
            width: 100%;
            height: 86.4px;
        }
    }

    .remove-topic-icon {
        position: absolute;
        top: 29px;
        right: 65px;
        font-size: 15px;
        cursor: pointer;
    }

    .topic-file {
        background: #2a265f;
        color: #fff;
        border-radius: 4px;
    }

    .file-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 23px;
    }

    .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 23px;
        color: #fff;
        cursor: pointer;
        display: none;
    }

    .play-btn:hover {
        color: #fff;
        font-weight: 900;
        text-decoration: none;
    }

    .topic-media:hover .topic-thumb {
        filter: brightness(60%);
    }

    .topic-media:hover .play-btn {
        display: block;
    }

    .topic-media:hover .file-icon {
        display: none;
    }

    .topic-video-name,
    .topic-file-name {
        position: absolute;
        bottom: -1;
        font-size: small;
        overflow: hidden;
        width: calc(100% - 15px);
        margin-top: 4px;
    }

    /*Share Modal styling begins here*/
    .share-modal-header,
    .icons,
    .field {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .share-modal-header {
        padding-bottom: 15px;
        border-bottom: 1px solid #ebedf9;
    }

    .share-modal-header span {
        font-size: 21px;
        font-weight: 600;
    }

    .close-btn,
    .icons button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .close-btn {
        height: 33px;
        width: 33px;
        color: #878787;
        background: #f2f3fb;
        cursor: pointer;
    }

    .share-modal-body {
        margin: 10px 0;
    }

    .share-modal-body p {
        font-size: 16px;
    }

    .icons {
        margin: 10px 0 15px 0;
    }

    .icons button {
        background: transparent;
        height: 50px;
        width: 50px;
        font-size: 20px;
        border: 1px solid transparent;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    .icons button:nth-child(1) {
        color: #A9A9A9;
        border-color: #a3c9fa;
    }

    .icons button:nth-child(1):hover {
        background: #A9A9A9;
    }

    .icons button:nth-child(2) {
        color: #696969;
        border-color: #b5e6fb;
    }

    .icons button:nth-child(2):hover {
        background: #696969;
    }

    .icons button:nth-child(3) {
        color: #25d336;
        border-color: #a6efad;
    }

    .icons button:nth-child(3):hover {
        background: #25d336;
    }

    .icons button:nth-child(4) {
        color: #0088cc;
        border-color: #85d6ff;
    }

    .icons button:nth-child(4):hover {
        background: #0088cc;
    }

    .icons button:nth-child(5) {
        color: #0a66c2;
        border-color: #8bc2f9;
    }

    .icons button:nth-child(5):hover {
        background: #0a66c2;
    }

    .icons button:hover {
        color: #fff;
        border-color: transparent;
        outline: none;
    }

    .icons button i {
        transition: transform all 0.3s ease-in-out;
    }

    .icons button:hover i {
        transform: scale(1.2);
    }

    /*Share Modal styling ends here*/
</style>