<section>
    <div class="container-fluid">
        <div class="row mb-3 pl-3">
            {{#if subjects}}
            {{#each subjects}}
            <div class="col-md-6 pl-0 pb-3">
                <div class="card" style="height: 120px;">
                    <div class="row" style="height: 120px;">
                        <div class="col-4">
                            <div class="class-title limit-line-length-vertical">{{this.class.name}}</div>
                        </div>
                        <div class="col-8">
                            <i class="far fa-trash-alt text-muted un-enroll-btn" data-toggle="modal"
                                data-target="#unenroll-class" onclick="openUnenrollModal('{{this._id}}')"></i>
                            <div class="subject-title limit-line-length-vertical">{{this.name}}</div>
                            <small class="tutor-name limit-line-length-horizontal">{{this.tutor.fname}} {{this.tutor.lname}}</small>
                        </div>
                        <a href="/student/view-class/{{this._id}}" class="continue-btn">Continue</a>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <h6 class="text-center" style="position: absolute; left: 50%; transform: translateX(-50%);">No Classes joined yet.</h6>
            <a href="#" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#join-class" style="position: absolute; left: 50%; top: 115px; transform: translateX(-50%);">Join Class</a>
            {{/if}}
        </div>
    </div>
</section>

<div class="modal fade" id="unenroll-class" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Unenroll Class</h5>
                <div class="close-btn" data-dismiss="modal"><i class="fal fa-times"></i></div>
            </div>
            <div class="modal-body">
                <div class="mb-3">Do you want to Unenroll from the class?</div>
                <a href="" class="btn btn-danger float-right" id="unenroll-btn">Unenroll</a>
            </div>
        </div>
    </div>
</div>



<style>
    .card {
        overflow: hidden;
        border-radius: 10px;
    }

    .card .col-4 {
        position: relative;
        background: #2A265F;
        color: #fff;
        padding: 5px 28px;
    }

    .card .col-8 {
        position: relative;
        color: #2A265F;
        padding: 8px 15px;
    }

    .card .class-title {
        font-size: 20px;
        font-weight: 500;
        -webkit-line-clamp: 3;
        padding-top: 2px;
    }

    .card .subject-title {
        font-size: 18px;
        font-weight: 500;
        -webkit-line-clamp: 2;
        margin-right: 38px;
    }

    .card .tutor-name {
        position: absolute;
        bottom: 12px;
        width: calc(100% - 140px);
    }

    .card .un-enroll-btn {
        position: absolute;
        top: 1rem;
        right: 2rem;
        cursor: pointer;
        text-decoration: none;
    }

    .card .continue-btn {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        background: #2A265F;
        color: #fff;
        font-size: small;
        padding: 8px 10px;
        border-radius: 25px;
        border: none;
        outline: none;
        text-decoration: none;
    }
</style>



<script>
    function openUnenrollModal(subjectId) {
        document.getElementById('unenroll-btn').setAttribute("href", "/student/unenroll-class/" + subjectId)
    }
</script>