<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card align-items-center text-center p-3">
                    <img src="/images/student_profile.jpg" alt="Profile_Picture" width="150px"
                        class="rounded-circle mb-3">
                    <h5 class="card-text">{{student.fname}} {{student.lname}}</h5>
                    <div class="text-muted">{{student.email}}</div>
                    <div class="text-muted">Joined on {{student.date}}</div>
                    <div style="margin-top: 0.85em;">
                        <button class="btn btn-outline-primary" onclick="editToSaveBtn()">Edit</button>
                        <a href="/student/logout" class="btn btn-primary">Logout</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card p-3">
                    <h4>Statistics</h4>
                    <small>Speaking</small>
                    <div class="progress mb-3 mt-1">
                        <div class="progress-bar bg-primary" role="progressbar" style="width:34%" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100">34%</div>
                    </div>
                    <small>Reading</small>
                    <div class="progress mb-3 mt-1">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 52%" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100">52%</div>
                    </div>
                    <small>Writing</small>
                    <div class="progress mb-3 mt-1">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100">78%</div>
                    </div>
                    <small>Listening</small>
                    <div class="progress mb-3 mt-1">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 24%" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100">24%</div>
                    </div>
                    <small>Overall</small>
                    <div class="progress mt-1">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card p-3" style="height: 20.7em;">
                    <h4>Subjects</h4>
                    <div class="scrollmenu" style="overflow-y: scroll;">
                    <a href="#" class="btn btn-primary m-1">English</a>
                    <a href="#" class="btn btn-primary m-1">Malayalam</a>
                    <a href="#" class="btn btn-primary m-1">Hindi</a>
                    <a href="#" class="btn btn-primary m-1">Chemistry</a>
                    <a href="#" class="btn btn-primary m-1">Physics</a>
                    <a href="#" class="btn btn-primary m-1">Biology</a>
                    <a href="#" class="btn btn-primary m-1">History</a>
                    <a href="#" class="btn btn-primary m-1">Geography</a>
                    <a href="#" class="btn btn-primary m-1">Maths</a>
                    <a href="#" class="btn btn-primary m-1">Java</a>
                    <a href="#" class="btn btn-primary m-1">HTML</a>
                    <a href="#" class="btn btn-primary m-1">Python</a>
                    <a href="#" class="btn btn-primary m-1">COA</a>
                    <a href="#" class="btn btn-primary m-1">Graphics</a>
                    <a href="#" class="btn btn-primary m-1">PHP</a>
                    <a href="#" class="btn btn-primary m-1">Computer Fundamentals</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card p-3">
                    <form action="/student/profile" method="POST" id="student-signup">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="fname">First Name</label>
                                <input type="text" name="fname" value="{{student.fname}}" class="form-control" id="fname" style="background: #fff;" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lname">Last Name</label>
                                <input type="text" name="lname" value="{{student.lname}}" class="form-control" id="lname" style="background: #fff;" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Email</label>
                                <input type="email" name="email" value="{{student.email}}" class="form-control" id="email" style="background: #fff;" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Mobile</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">+91</div>
                                    </div>
                                    <input type="tel" class="form-control" name="mobile" value="{{student.mobile}}" id="mobile">
                                </div>
                                <span id="mobileErr"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="institution">Institution</label>
                                <input type="text" name="institution" value="{{student.institution}}" class="form-control" placeholder="Institution ID" style="background: #fff;" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="guardian">Guardian's Name</label>
                                <input type="text" class="form-control" name="guardian" value="{{student.guardian}}" id="guardian" style="background: #fff;" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address">Address</label>
                                <textarea rows="3" name="address" class="form-control" id="address" style="background: #fff;" disabled>{{student.address}}</textarea>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="gender">Gender</label><br>
                                <div class="custom-radio custom-control-inline">
                                    <input type="radio" name="gender" value="Male" id="male" class="custom-control-input" {{student.male}}>
                                    <label class="custom-control-label pl-4" for="male">Male</label>
                                </div>
                                <div class="custom-radio custom-control-inline">
                                    <input type="radio" name="gender" value="Female" id="female" class="custom-control-input" {{student.female}}>
                                    <label class="custom-control-label pl-4" for="female">Female</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary" id="edit-btn" onclick="editToSaveBtn()">Edit</button>
                                <button type="submit" class="btn btn-primary" id="save-btn" style="display: none;">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>





<script>
   function editToSaveBtn()
   {
      document.getElementById('edit-btn').style.display = 'none'
      document.getElementById('save-btn').style.display = 'block'
      document.getElementById('fname').disabled = false
      document.getElementById('lname').disabled = false
      document.getElementById('email').disabled = false
      document.getElementById('mobile').disabled = false
      document.getElementById('guardian').disabled = false
      document.getElementById('address').disabled = false
      document.getElementById('fname').focus()
   }
</script>