<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap, Font Awesome CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css">
      <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
      {{#if student}}
      <title>onOrg Student | {{{title}}}</title>
      {{else if tutor}}
      <title>OnOrg Tutor | {{{title}}}</title>
      {{else if institution}}
      <title>onOrg Institution | {{{title}}}</title>
      {{else}}
      <title>onOrg | {{{title}}}</title>
      {{/if}}
   </head>
   <body>
      {{#if student}}
      {{>student-header}}
      {{>student-sidebar}}
      {{else if tutor}}
      {{>tutor-header}}
      {{else if institution}}
      {{>institution-header}}
      {{else}}
      {{>main-header}}
      {{/if}}
      <div class="main-container">
      {{{body}}}
      </div>
      {{#if student}}
      {{>student-footer}}
      {{else if tutor}}
      {{>tutor-footer}}
      {{else if institution}}
      {{>Institution-footer}}
      {{else}}
      {{>main-footer}}
      {{/if}}
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS, then Form Validation -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
      <script src="/javascripts/script.js"></script>
   </body>
</html>